<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Summary</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">GROCERY</a>
          </div>
          <ul class="nav navbar-nav">
            <li ><a href="{{url_for('admin_page')}}">Categroy</a></li>
            <li ><a href="{{url_for('product_wise')}}">Product</a></li>
            <li class="active"><a href="#">Summary</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
        
            <li><a href="{{url_for('user_login')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
        </div>
        </nav> 
        <div>
          <img src="static/plot.png" alt="">
          
      </div>    
</body>        